@using AMS.Libraries

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Configuration.GetSetting("WebsiteName") | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>@Configuration.GetSetting("WebsiteName")</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </header>
        <nav>
            <ul id="menu" class="metro-list">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Banner", "Index", "Banner")</li>
                <li>@Html.ActionLink("Website", "Index", "Website")</li>
                <li>@Html.ActionLink("Report", "Index", "Report")</li>
                <li>@Html.ActionLink("Setting", "Index", "Setting")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </nav>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
