<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Configuration.GetSetting("WebsiteName") | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>@Configuration.GetSetting("WebsiteName")</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </header>
        <nav>
            @using (AMS.Models.Services.UnitOfWork unitOfWork = new AMS.Models.Services.UnitOfWork())
            {
                var modules = unitOfWork.ModuleRepository.GetModulesFor(null, User.Identity.Name);
                @Html.Partial("_MainNavigationPartial", modules);
            }
        </nav>
        <section id="main">
        <h2>@ViewBag.Title</h2>
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
