@using AMS.Views.Home.App_LocalResources

@{
    ViewBag.Title = About.Page_Title;
}

<h2>@ViewBag.Title</h2>
<p>
     @MvcHtmlString.Create(About.Message_Introduction)
     <ul>
        <li>@About.Message_Version @Configuration.GetSetting("Version").</li>
        <li>@About.Message_Copyright &copy @Configuration.GetSetting("CopyrightYear").</li>
     </ul>
     @if (!string.IsNullOrEmpty(Configuration.GetSetting("LicenseToName")))
     {
         <text>@About.Message_LicenseTo</text> <a href="@Configuration.GetSetting("LicenseToLink")" target="_blank">@Configuration.GetSetting("LicenseToName")</a>
     }
</p>
